@charset "utf-8";
	

	h1 {
		letter-spacing: 10px;
}
	table {
  		border-collapse: collapse;
  		border-radius: 10px;
}
	p {
  		color:#FFFF66;
		text-decoration: none;
}
	h2 {
  		color:#FFFF66;
		font-size: 16px;
		text-decoration: none;
}
	h3 {
  		color:#FFFFFF;
		font-size: 16px;
		text-decoration: none;
}
a.url {
   		font-size: 16px;
		color: green;
}
	
	a {
  		color: white;
		text-decoration: none;
}

	.button:hover {
  		background-color: #4CAF50; 
		transition-duration: 0.2s;
}
	.site:hover {
  		box-shadow: 0 0 20px 1px white;
		background-color: #2A2A2A;
}

.sitepink:hover {
  		box-shadow: 0 0 20px 1px white;
		background-color: #2A2A2A;
}

.sitered:hover {
  		box-shadow: 0 0 20px 1px white;
		background-color: #2A2A2A;
}

.sitepurple:hover {
  		box-shadow: 0 0 20px 1px white;
		background-color: #2A2A2A;
}

.sitegold:hover {
		background-color: #2A2A2A;
		box-shadow: 0 0 20px 1px white;
}
.sitenew:hover {
		background-color: #2A2A2A;
		box-shadow: 0 0 20px 1px white;
}

	a:hover {
 		color: rebeccapurple;
		text-decoration: none;
		transition-duration: 0.5s;
}

    html, body {
        font-size: 18px;
        height: 100%;
	width: 100%;
        margin:0 auto;
	color: white;
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
  	background-size:cover;
	background-attachment: fixed;
	background-color:#261935;
	font-family: 'Tomorrow', sans-serif;
}
	
    #container {
      	border-left:2px solid #C3073F;
	border-right:2px solid #C3073F;
	border-bottom:2px solid #C3073F;
	background-color: rgba(30, 30, 30, 0.85);
	width: 1080px;
        padding: 50px;
        margin: auto;
        position: relative;
	margin-bottom: 30px;
	box-shadow: 0 0 50px 1px #7A0000;
}

	#banner {
        width: 100%;
	height: 300px;
	margin-bottom: 20px;
	background-position: center;
	margin:0 auto;
	background-image: url(banner_emo.png);
	background-repeat: no-repeat;
}
	
	#etu {
        text-align: center;
        width: 100%;
	height: 150px;
	margin-bottom: 110px;
}
	#top4 {
        text-align: center;
	height: 20px;
	width: 100%;
	margin-top: -40px;
	float: left;
}

	#latest4 {
        text-align: center;
        width: 100%;
	height: 20px;
	margin-top: -40px;
	float: left;
}

	#allsites {
        text-align: center;
        width: 100%;
	height: 20px;
	margin-top: -40px;
	float: left;
}

    #steps {
        text-align: center;
        width: 100%;
	margin-bottom: 80px;
	margin-top: 40px;
	height: 1500px;	
}

    .site {
        width: 200px;
	transition-duration: 0.4s;
        height: 250px;
	float: left;
	margin-left: 24px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #232323;
	padding: 20px;
	border:1px solid #434343;
}

    .sitegold {
        width: 200px;
	transition-duration: 0.4s;
        height: 250px;
	float: left;
	margin-left: 24px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #232323;
	padding: 20px;
	border:1px solid yellow;
  	box-shadow: 0 0 20px 1px #FFFF66;
}

    .sitered {
        width: 200px;
	transition-duration: 0.4s;
        height: 250px;
	float: left;
	margin-left: 24px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #232323;
	padding: 20px;
	border:1px solid red;
}

    .sitepink {
        width: 200px;
	transition-duration: 0.4s;
        height: 250px;
	float: left;
	margin-left: 24px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #232323;
	padding: 20px;
	border:1px solid #D32CDA;
}
    .sitepurple {
        width: 200px;
	transition-duration: 0.4s;
        height: 250px;
	float: left;
	margin-left: 24px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #232323;
	padding: 20px;
	border:1px solid #8847FF;
}

	 .logo {
        width: 200px;
        height: 60px;
	margin-top: 10px;
	background-color: #161616;
	border:1px solid #434343;
}

	 .line {
        width: 200px;
        height: 5px;
	margin-top: 18px;
	border-top:1px solid #434343;
}

	 .line2 {
        width: 100%;
        height: 5px;
	margin-top: 10px;
	float: left;
	margin-bottom: 70px;
	border-top:1px solid #434343;
}

	.bonus {
        width: 93px;
	margin-right: 10px;
        height: 30px;
	margin-top: 16px;
	float: left;
	background-color: #434343;
	border:1px solid #434343;
	text-align: center;
	padding-top: 10px;
	font-size: 14px;
}

	.code {
        width: 93px;
        height: 30px;
	margin-top: 16px;
	float: left;
	background-color: #434343;
	border:1px solid #434343;
	text-align: center;
	padding-top: 10px;
	font-size: 14px;
}

	.button {
        width: 190px;
	margin-top: 20px;
        height: 20px;
	float:left;
	border-radius: 10px;
	background-color: #008B29;
	padding: 15px 5px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

    #footer {
        position: relative;
        clear: left;
	height: 60px;
	background-color: #232323;
	padding: 20px;
	border:1px solid #434343;
	font-size: 14px;
	text-align: center;
	color: grey;
			
}	    


/*TABLET-VIEW*/
@media (min-width: 401px) and (max-width: 768px){
	#container {
		width: 540px;
		transition-duration: 0.4s;
}
	
	h1 {
		letter-spacing: 5px;
		font-size: 20px;
}
		
	#banner{
		transform: scale(0.8);
		width: 750px;
		margin-left: -110px;
		transition-duration: 0.4s;
		
}
	
	#etu {
		width: 100%;
}
	
	#top4 {
		width: 100%;
		margin-top: -10px;
}
	#latest4 {
		width: 100%;
		margin-top: -10px;
}
	
	#allsites {
		width: 100%;
		margin-top: -10px;
}
	
	#footer {
		font-size: 14px;
		width: 94%;
		padding: 20px;
		height: 80px;
}
	
	.site {
		margin-top: 20px;
}
	
	.sitegold {
		margin-top: 20px;
}
	
	.sitered {
		margin-top: 20px;
}
	
	.sitepink {
		margin-top: 20px;
}
	
	.sitepurple {
		margin-top: 20px;
}
	
}
/*MOBILE-VIEW*/
@media (max-width: 400px){

	
	#container {
		width: 240px;
}
	
	#banner {
		transition-duration: 0.2s;
		transform: scale(0.45);
		width: 740px;
		margin-left: -255px;
		
}
	
	#etu {
		transition-duration: 0.2s;
		width: 100%;
		margin-bottom: 230px;
		font-size: 15px;
}
	
	h1 {
		letter-spacing: 5px;
		font-size: 18px;
		margin-top: -30px;
		margin-bottom: 30px;
}
	
	#top4 {
		width: 100%;
		margin-top: -35px;
}
	
	#latest4 {
		width: 100%;
		margin-left: 25px;
}
	
	#allsites {
		width: 100%;
		margin-left: 25px;
}
	
	#footer {
		font-size: 14px;
		padding: 30px;
		height: 200px;
}
	
	#steps {
        width: 100%;
		margin-left: -25px;
		
}
	
	.site {
		margin-top: 0px;
}
	
	.sitegold {
		margin-top: 0px;
}
	
	.sitered {
		margin-top: 0px;
}
	
	.sitepurple {
		margin-top: 0px;
}
	
	.sitepink {
		margin-top: 0px;
}
	
	.line2 {
		margin-left: 25px;
}
}